@model Kirjasto.Models.Käyttäjä

<h4>Käyttäjä</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Etunimi" class="control-label"></label>
                <input asp-for="Etunimi" class="form-control" />
                <span asp-validation-for="Etunimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sukunimi" class="control-label"></label>
                <input asp-for="Sukunimi" class="form-control" />
                <span asp-validation-for="Sukunimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Käyttäjänimi" class="control-label"></label>
                <input asp-for="Käyttäjänimi" class="form-control" />
                <span asp-validation-for="Käyttäjänimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salasana" class="control-label"></label>
                <input asp-for="Salasana" class="form-control" />
                <span asp-validation-for="Salasana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateAdmin" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
